@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
#banner img, #galeria figure {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

#banner img:hover, #galeria figure:hover {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.texto {
  font-family: "Oswald", sans-serif;
  padding: 1rem;
  text-align: justify;
}

.contList {
  padding: 1rem;
}

.contList h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.contList a {
  font-family: "Oswald", sans-serif;
}

#banner {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: banner;
  padding-top: 4rem;
}

#banner img {
  width: 100%;
}

#galeria {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#galeria figure {
  width: 100%;
}

#galeria figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#formulario {
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#formulario .PForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: spece-evenly;
      -ms-flex-pack: spece-evenly;
          justify-content: spece-evenly;
  padding: 1rem;
  width: 60%;
}

#formulario .PForm input {
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 0.3rem;
  width: 50%;
  font-size: 1.1rem;
}

#formulario textarea {
  text-align: center;
  font-family: "Oswald", sans-serif;
  width: 60%;
  color: #0d0d0c;
}

.btn-galeria {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: encabezado;
  color: #0d0d0c;
  padding-top: 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
}

.btn-galeria:hover {
  color: #890c97;
}

#boton {
  padding: 0.2rem;
  font-family: "Oswald", sans-serif;
  margin: 1rem;
  text-align: center;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#boton:hover {
  background-color: pink;
  border-color: white;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: dense;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "encabezado banner" "infoUno infoTres" "menuCont galeria" "infoDos formulario";
}

#encabezado {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: encabezado;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  color: #0d0d0c;
}

#encabezado h1 {
  font-family: "Homemade Apple", cursive;
}

#menuCont {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: menuCont;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  color: #0d0d0c;
}

#menuCont h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

#infoDos {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: infoDos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  color: #0d0d0c;
}

#infoDos h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 1rem;
}

#infoTres {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: infoTres;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  color: #0d0d0c;
}

#infoTres h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 1rem;
}

#infoUno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: infoUno;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  color: #0d0d0c;
}

#infoUno h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 1rem;
}

@media all and (max-width: 700px) {
  body {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "encabezado"  "banner" "infoUno"  "infoTres" "menuCont"  "galeria" "infoDos"  "formulario";
  }
}

#galeria {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: galeria;
}

#encabezado {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: encabezado;
}

#banner {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: banner;
}

#infoUno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: infoUno;
}

#infoDos {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: infoDos;
}

#infoTres {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: infoTres;
}

#menuCont {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: menuCont;
}

#formulario {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: formulario;
}
/*# sourceMappingURL=main.css.map */