%effect{
    transition: all 100ms ease-in-out;

    &:hover{
        filter:grayscale(60%);
    }
}

@mixin setFlex ($direc, $pos){
    display: flex;
    flex-direction: $direc;

    @if $direc == column{
        justify-content: $pos;
        align-items: $pos;
    }

    @else{
        justify-content: $pos;
    }
}
